.random-series {
    /* color: black; */
    text-decoration: none;
    cursor: pointer;
    width: 400px;
    border: 2px solid blue;
    text-align: center;
    background: cornflowerblue;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 500px;
    flex-basis: 25%;
}

.picture-random-series {
    width: 200px;
    height: 270px;
    margin-top: 20px;
    border-radius: 20%;
}

.picture-random-series:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.random-shows {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.random-series h3 {
    text-decoration: underline;
}