/* .logo-container {
  height: 40vmin;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: react-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
}
#background1{
  background-image: url("background1.jpg");
}
#background2{
  background-image: url("background2.jpg");
} */

/* @keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
