.navigation-box{   
    /* text-size-adjust: 80%;
    font-weight: bold; */
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    background-color: white;
    width: 700px;
    text-align: center;
    border-radius: 25px;
    align-items: center; 
    position: absolute;
    top: 40px;
    right: 100px;
    height: 90px;
}

.nav-list{
    /* text-size-adjust: 80%; */
    font-weight: bold;
    font-size: calc(8px + 2vmin);
    color: darkblue;
    text-decoration: none;
    cursor: pointer;
}
.navigation-box span{
   background-color:lightgray;
   width: 3px;
   height: 90px;
   
}