.home-page{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background-image: url("./background3.jpg");
}

.home-logo-text{
    position: absolute;
    display: flex;
    top: 150px; 
    margin-right: -800px;
}

.home-logo-text .tracker{
    color: darkblue;
}