.random-series {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-decoration: none;
    cursor: pointer;
    width: 400px;
    text-align: center;
    border-radius: 25px;
    margin-left: 20px;
    height: 500px;
    flex-basis: 25%;
}

/* .picture-random-series {
    width: 330px;
    height: 500px;
    margin-top: 20px;
    border-radius: 25%;
} */

.random-series:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.random-shows {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.random-series h3 {
    margin: auto;
    opacity: 100%;
    text-decoration: underline;
}
.text-warp{
    font-size: calc(8px + 2vmin);
    text-size-adjust: 80%;
    font-weight: bold;
    color: darkblue;
    position: absolute;
    bottom: 10%;
    background-color: antiquewhite;
    opacity: 0.7;
    width: 250px;
    text-align: center;
    border-radius: 25px;
    margin-left: 30px;
    height: 140px;
    align-items: center;
}