.added-hotel {
    /* color: black; */
    cursor: pointer;
    width: 400px;
    border: 2px solid blue;
    text-align: center;
    background: cornflowerblue;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 500px;
    flex-basis: 25%;
}

.picture-added-hotel {
    width: 200px;
    height: 270px;
    margin-top: 20px;
    border-radius: 20%;
}

.picture-added-hotel:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.added-hotels {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}