.search-form {
    /* display: grid; */
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 35%;
    left: 40%;
    margin: -100px 0 0 -500px;
    width: 35%;
    color: white;
    font-weight: bold;
    display: inline-block;
    padding-right: 800px;
    font-size: 29px;
    color: darkblue;
    visibility: inherit;
}

.search-form #btn{
    background-color: darkblue;
    border-radius: 10px;
}